[run]
omit =
    */constants.py
    */tests/*
    */test_*.py
    */*_test.py
    */migrations/*
    */__init__.py

[report]
show_missing = true
skip_covered = true
exclude_lines =
    pragma: no cover
    \.\.\.
    raise NotImplementedError
    raise AssertionError
    if TYPE_CHECKING
    def __repr__
    if self.debug:
    if __name__ == .__main__.:
    if 0:
    type